<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.haozi.spring_security.chat.mapper.ChatMsgMapper" >

        <insert id="saveChatmsg" parameterType="cn.haozi.spring_security.chat.entity.ChatMsg">

            insert into chat_msg (send_id,accept_id,msg) values(#{sendId},#{acceptId},#{msg})
        </insert>
        
    <select id="chatList" parameterType="cn.haozi.spring_security.chat.entity.ChatMsg" resultType="cn.haozi.spring_security.chat.entity.dto.ChatMsgDTO">
        SELECT a.id ,b.username, c.url avatar ,a.create_time timestamp , a.msg content from chat_msg a
		LEFT JOIN sys_user b on a.send_id = b.id
		LEFT JOIN sys_file c on c.id = b.icon
		ORDER BY a.create_time desc

    </select>
</mapper>